<script type="text/javascript">
        // <!--
            reply_button = "{$as_postreply}";
            as_desc_button = "{$lang->aj_submit_button}";
            account_id = parseInt({$mybbUid});
            account_name = "{$mybbUsername}";
            can_switch = parseInt({$as_canswitch});
            dropdown_reload = {$as_reload};
            user_post_key = "{$mybb->post_code}";
            switch_success_text = "{$lang->aj_switch_success}";
            AS_SCRIPT = "{$as_script}";
        // -->
        </script>
        <script src="{$mybb->asset_url}/jscripts/accountswitcher/as_script.min.js" type="text/javascript"></script>