    <div class="rightfichapanel">
<div class="fichaheader " style="
    padding: 20px 20px 26px;
">
        <div class="pjinfo">
          <p class="pjname" style="
    padding-top: 12px;
    margin: 0px;
    color: white;
">~ {$ficha['nombre']} ~</p>
          
<p class="pjalias" style="
    margin: 0px;
    margin-top: -4px;
    color: white;
">{$ficha['apodo']}</p>
          
          <!--<span class="pjrango">Jounin - </span><span class="pjaldea">Kiri<br/></span>-->
        </div>
      </div>
      <div class="whitepanel">
        <div class="topblack"></div>
        <div class="fichahistory">
          <p class="historytitle">Biografía</p><br>
          <div class="historyinfo historybio"><p>{$historia}</p></div>
        </div>
        <div class="fichahistory">
          <p class="historytitle">Descripciones</p><br>
		  <div class="historyinfo historydesc">
			  <p class="historysubtitle">Apariencia</p>
			  <p>{$apariencia}</p>
			  <p class="historysubtitle">Personalidad</p>
			  <p>{$personalidad}</p>
			  <p class="historysubtitle">Extras</p>
			  <p>{$extra}</p>
			  <p class="historysubtitle">Frase</p>
			  <p>{$frase}</p>
			  <p class="historysubtitle">Origen físico de PJ</p>
			  <p>{$ficha['fisico_de_pj']}</p></div>
		   </div>
        </div>
		<if $mybb->user['uid'] == $ficha['fid'] then>
		  <div class="editstatsbutton" style=" text-align: center; ">
            <a href="{$mybb->settings['bburl']}/sg/editar_descripcion.php?uid={$mybb->user['uid']}"><input type="button" value="Editar Descripción"></a>
          </div>
		</if>
      </div>
    </div>