<html>
<head>
<title>Shinobi Gaiden</title>
{$headerinclude}
<meta http-equiv="refresh" content="2;URL={$mybb->settings['bburl']}/showthread.php?tid={$tid}">
</head>
<body>
{$header}
	<div class="fondo-blanco">
	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<tbody>
		<tr>
			<td class="thead"><span class="smalltext"><strong>Shinobi Gaiden</strong></span></td>
		</tr>
		<tr>
			<td class="trow1">Tu hide ha sido revelado al resto de usuarios, volverás al tema.</td>
		</tr>
		<tr>
			<td class="trow2" align="right"><a href="{$mybb->settings['bburl']}/showthread.php?tid={$tid}"><span class="smalltext">Haz clic aquí si no quieres esperar más.</span></a></td>
		</tr>
		</tbody>
	</table>
	</div>
</tbody>
	
{$footer}
</body>
</html>