<script>
  const clanes = {$clanes};
  const villas = {$villas};
  const sinClanKonoha = {$sinClanKonoha};
  const sinClanKiri = {$sinClanKiri};
  const sinClanIwa = {$sinClanIwa};
  const sinClanKumo = {$sinClanKumo};
  const sinClanSinAldea = {$sinClanSinAldea};

  function initializeVilla(villas) {
    const aldeasQuery = document.querySelector('.listaAldeas');

    for (let i = 0; i < villas.length; i++) {
      const nombre = villas[i].nombreVilla;
      const vid = villas[i].vid;
      const img = villas[i].img;

      if (villas[i].abierta == 1) {
        const input = '<input type="radio" name="villa" value="' + vid + '" onClick="onChangeVilla(' + vid + ')" required>';
        const lab = document.createElement('label');
        lab.innerHTML = input + '<img src="/images/char_create/' + img + '.png"><p style = "text-transform:capitalize;">' + nombre + '</p>';
        aldeasQuery.appendChild(lab);
      }
    }
  }

  function onChangeVilla(villaId) {
    const clanesQuery = document.querySelector('.listaClanes');
    const elementosQuery = document.querySelector('.listaElementos');
    clanesQuery.innerHTML = "<legend>Clan</legend>";
    elementosQuery.innerHTML = "<legend>Elementos</legend>";

	if (villaId != 7) {
		$('.listaClanes').append('<p style=" font-size: 19px; margin: 0; padding-top: 0; ">Clanes Exclusivos</p>');  
	}

    for (let i = 0; i < clanes.length; i++) {
      const aClan = clanes[i];
      if ((aClan.vid == villaId && aClan.vid != 7) && aClan.abierto == 1) {
        const clanIndex = i;
        const image = '/images/char_create/clan_img.png';
        const func = 'onChangeClan(' + clanIndex + ');';
        const item = '<input type="radio" name="clan" value="' + aClan.cid + '" onClick=' + func + ' required>';
        const lab = document.createElement('label');
        lab.innerHTML = item + '<img src="' + image + '"><p style = "text-transform:capitalize;">' + aClan.nombreClan + '</p>';
        clanesQuery.appendChild(lab);
      }
    }
	  
	$('.listaClanes').append('<p style=" font-size: 19px; margin: 0; padding-top: 0; ">Otros Clanes</p>');  
	for (let i = 0; i < clanes.length; i++) {
      const aClan = clanes[i];
	  let sinClanOpen = false;
	  if (villaId == 1 && aClan.cid == 1001 && sinClanKonoha == 1) { sinClanOpen = true; }
	  if (villaId == 3 && aClan.cid == 1001 && sinClanKiri == 1) { sinClanOpen = true; }
	  if (villaId == 4 && aClan.cid == 1001 && sinClanIwa == 1) { sinClanOpen = true; }
	  if (villaId == 5 && aClan.cid == 1001 && sinClanKumo == 1) { sinClanOpen = true; }
	  if (villaId == 7 && aClan.cid == 1001 && sinClanSinAldea == 1) { sinClanOpen = true; }
		
      if ((sinClanOpen || aClan.vid == 7) && aClan.abierto == 1) {
        const clanIndex = i;
        const image = '/images/char_create/clan_img.png';
        const func = 'onChangeClan(' + clanIndex + ');';
        const item = '<input type="radio" name="clan" value="' + aClan.cid + '" onClick=' + func + ' required>';
        const lab = document.createElement('label');
        lab.innerHTML = item + '<img src="' + image + '"><p style = "text-transform:capitalize;">' + aClan.nombreClan + '</p>';
        clanesQuery.appendChild(lab);
      }
    }
	  
	for (let i = 0; i < clanes.length; i++) {
      const aClan = clanes[i];
		
      if ((aClan.vid == 2) && aClan.abierto == 1) {
        const clanIndex = i;
        const image = '/images/char_create/clan_img.png';
        const func = 'onChangeClan(' + clanIndex + ');';
        const item = '<input type="radio" name="clan" value="' + aClan.cid + '" onClick=' + func + ' required>';
        const lab = document.createElement('label');
        lab.innerHTML = item + '<img src="' + image + '"><p style = "text-transform:capitalize;">' + aClan.nombreClan + '</p>';
        clanesQuery.appendChild(lab);
      }
    }
  }

  function onChangeClan(clanIndex) {
    // [], or ["doton", "suiton"]
    const clan = clanes[clanIndex];
    let elementosQuery = document.querySelector('.listaElementos');
    elementosQuery.innerHTML = "<legend>Elementos</legend>"

    const elementos = JSON.parse(clan.elementos).length == 0 ? ['katon', 'suiton', 'fuuton', 'raiton', 'doton'] : JSON.parse(clan.elementos);
    for (let i = 0; i < elementos.length; i++) {
      const aElem = elementos[i];
      const item = '<input type="radio" name="elemento" value="' + aElem + '" required>';
      const lab = document.createElement('label');
      let image;
      switch (aElem) {
        case 'suiton': image = '/images/char_create/suiton.png'; break;
        case 'doton': image = '/images/char_create/doton.png'; break;
        case 'katon': image = '/images/char_create/katon.png'; break;
        case 'raiton': image = '/images/char_create/raiton.png'; break;
        case 'fuuton': image = '/images/char_create/fuuton.png'; break;
      }
      lab.innerHTML = item + '<img src="' + image + '"><p style = "text-transform:capitalize;">' + aElem + '</p>';
      elementosQuery.appendChild(lab);
    }
  }

  initializeVilla(villas);
</script>