<html>
<head>
<style>	
	.spoiler {
    background: #0e1a28;
    border: 1px solid #5f6572;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    max-width: 745px;
    cursor: pointer;
}
	
	.spoiler {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 15px auto;
    cursor: pointer;
	width: 200px;
}
	
	.spoiler_content {
    padding: 5px;
    height: auto;
    display: block;
}
	
	.spoiler_title {
    border-bottom: 1px solid #8972c8;
    margin: 0;
    margin-bottom: 4px;
    background: #2c82c9;
    padding: 4px 5px;
    color: #fff;
    border-radius: 3px;
}
	
	.spoiler_title {
    border-bottom: 1px solid #bbb;
    margin: 0;
    margin-bottom: 4px;
    padding: 4px 5px;
}
	
	
.flex-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
	
	
</style>
<title>Tecnicas</title>
{$headerinclude}
</head>
<body>
{$header}
	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<tr>
			<td class="thead" colspan="1" style=" background: #114384; text-align: center; "><strong>Todas las técnicas</strong></td>
		</tr>
                <tr>
			<td class="trow1" valign="top" style="background-color: #1a304c;">
                          <div style="text-align: center;"><a href="{$mybb->settings['bburl']}/showthread.php?tid=1920">Información sobre Especializaciones y Maestrias</a></div>
                        </td>
		</tr>
		<tr>
			<td class="trow1" valign="top" style="background-color: #1a304c;">
				<div class="bodycenter flex-container">
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Técnicas generales</strong></div>
						  <div class="spoiler_content" align="center">
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=general">Ninjutsu</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=general">Genjutsu</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=general">Taijutsu</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Técnicas elementales</strong></div>
						  <div class="spoiler_content" align="center">
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=general">Katon</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=general">Suiton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=general">Doton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=general">Fuuton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=general">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Konoha</strong></div>
						  <div class="spoiler_content" align="center">
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Aburame&amp;aldea=general">Aburame</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Akimichi&amp;aldea=general">Akimichi</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hyūga&amp;aldea=general">Hyūga</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Nara&amp;aldea=general">Nara</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Senju&amp;aldea=general">Senju</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Uchiha&amp;aldea=general">Uchiha</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Uzumaki&amp;aldea=general">Uzumaki</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yamanaka&amp;aldea=general">Yamanaka</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Inuzuka&amp;aldea=general">Inuzuka</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Sarutobi&amp;aldea=general">Sarutobi</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Únicas Konoha</strong></div>
						  <div class="spoiler_content" align="center">
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=konoha">Ninjutsu</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=konoha">Genjutsu</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=konoha">Taijutsu</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=konoha">Katon</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=konoha">Suiton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=konoha">Doton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=konoha">Fuuton</a><br>
						  <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=konoha">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Suna</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Jiki&amp;aldea=general">Jiki</a><br>
<!-- 							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Chikamatsu&amp;aldea=general">Chikamatsu</a><br> -->
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Amagiri&amp;aldea=general">Amagiri</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tatsumaki&amp;aldea=general">Tatsumaki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Pakura&amp;aldea=general">Pakura</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Maki&amp;aldea=general">Maki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yoichi&amp;aldea=general">Yoichi</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Shijin&amp;aldea=general">Shijin</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Jinsoku&amp;aldea=general">Jinsoku</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Shoku&amp;aldea=general">Shoku</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Únicas Suna</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=suna">Ninjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=suna">Genjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=suna">Taijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=suna">Katon</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=suna">Suiton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=suna">Doton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=suna">Fuuton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=suna">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Kiri</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yuki&amp;aldea=general">Yuki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kaguya&amp;aldea=general">Kaguya</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kenju&amp;aldea=general">Kenju</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hozuki&amp;aldea=general">Hozuki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hoshigaki&amp;aldea=general">Hoshigaki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Heizu&amp;aldea=general">Heizu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Terumi&amp;aldea=general">Terumi</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taiki&amp;aldea=general">Taiki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Onmyōji&amp;aldea=general">Onmyōji</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kurama&amp;aldea=general">Kurama</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Únicas Kiri</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=kiri">Ninjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=kiri">Genjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=kiri">Taijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=kiri">Katon</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=kiri">Suiton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=kiri">Doton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=kiri">Fuuton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=kiri">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Iwa</strong></div>
						  <div class="spoiler_content"  align="center">
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kamizuru&amp;aldea=general">Kamizuru</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Konjiki&amp;aldea=general">Konjiki</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Iburi&amp;aldea=general">Iburi</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ryotenbin&amp;aldea=general">Ryotenbin</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ashira&amp;aldea=general">Ashira</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kazan&amp;aldea=general">Kazan</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Origami&amp;aldea=general">Origami</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kusarizoku&amp;aldea=general">Kusarizoku</a><br>
								<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Onikuma&amp;aldea=general">Onikuma</a><br>
							    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ichigi&amp;aldea=general">Ichigi</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Únicas Iwa</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=iwa">Ninjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=iwa">Genjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=iwa">Taijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=iwa">Katon</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=iwa">Suiton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=iwa">Doton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=iwa">Fuuton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=iwa">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Kumo</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Arashi&amp;aldea=general">Arashi</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Chinoike&amp;aldea=general">Chinoike</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuma&amp;aldea=general">Fuuma</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Miroku&amp;aldea=general">Miroku</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hyouji&amp;aldea=general">Hyouji</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Jiryoku&amp;aldea=general">Jiryoku</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tokage&amp;aldea=general">Tokage</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tajuken&amp;aldea=general">Tajuken</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yotsuki&amp;aldea=general">Yotsuki</a><br>
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kidou&amp;aldea=general">Kidou</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Únicas Kumo</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninjutsu&amp;aldea=kumo">Ninjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Genjutsu&amp;aldea=kumo">Genjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Taijutsu&amp;aldea=kumo">Taijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Katon&amp;aldea=kumo">Katon</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suiton&amp;aldea=kumo">Suiton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Doton&amp;aldea=kumo">Doton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fuuton&amp;aldea=kumo">Fuuton</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Raiton&amp;aldea=kumo">Raiton</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes Sin Aldea</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Otenki&amp;aldea=general">Otenki</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Emaki%20Ninpō&amp;aldea=general">Emaki Ninpō</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Rakanken%20Ninpō&amp;aldea=general">Rakanken Ninpō</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Suzume&amp;aldea=general">Suzume</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Izuno&amp;aldea=general">Izuno</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Dōka Ninpō&amp;aldea=general">Dōka Ninpō</a><br>
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Nagamushi&amp;aldea=general">Nagamushi</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Shiin&amp;aldea=general">Shiin</a><br>
						</div>
					</div>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Clanes de Otras Aldeas</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kujaku Myōhō&amp;aldea=general">Kujaku Myōhō (Hoshi)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hyōten&amp;aldea=general">Hyōten (Yuki)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tenbin&amp;aldea=general">Tenbin (Oto)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Higasa&amp;aldea=general">Higasa (Ame)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tenrō&amp;aldea=general">Tenrō (Kusa)</a><br>
						</div>
					</div>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Maestrías</strong></div>
						  <div class="spoiler_content" align="center">
<!-- 							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Senjutsu&amp;aldea=maestrias">Senjutsu</a><br> -->
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Fūinjutsu&amp;aldea=maestrias">Fūinjutsu</a><br>
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kekkaijutsu&amp;aldea=maestrias">Kekkaijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Iryou Ninjutsu&amp;aldea=maestrias">Iryō Ninjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ankoku Ijutsu&amp;aldea=maestrias">Ankoku Ijutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yin&amp;aldea=maestrias">Yin</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Shoten&amp;aldea=maestrias">Shoten</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kenjutsu&amp;aldea=maestrias">Kenjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Bōjutsu&amp;aldea=maestrias">Bōjutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Shurikenjutsu&amp;aldea=maestrias">Shurikenjutsu</a><br>							  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Gotai&amp;aldea=maestrias">Gotai</a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Hachimon&amp;aldea=maestrias">Hachimon</a><br> 
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tansakujutsu&amp;aldea=maestrias">Tansakujutsu</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Ninshu&amp;aldea=maestrias">Ninshu</a><br>
						</div>
					</div>
					<br>
					<div class="spoiler">
						<div class="spoiler_title">
						  <strong>Pactos de Invocación</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Gama&amp;aldea=invo">Gama (Sapos)</a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Serpientes&amp;aldea=invo">Hebi (Serpientes)</a><br>	  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Babosas&amp;aldea=invo">Namekuji (Babosas)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Gatos&amp;aldea=invo">Neko (Gatos)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Arañas&amp;aldea=invo">Kumo (Arañas)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Murcielagos&amp;aldea=invo">Kōmori (Murciélagos)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Lobos&amp;aldea=invo">Ōkami (Lobos)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Aves&amp;aldea=invo">Tori (Aves)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Osos&amp;aldea=invo">Kuma (Osos)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Salamandras&amp;aldea=invo">Sanshōuo (Salamandras)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tortugas&amp;aldea=invo">Kame (Tortugas)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Monos&amp;aldea=invo">Saru (Monos)</a><br>
						</div>
					</div>
					<br>
					  
					  	<div class="spoiler">
 						<div class="spoiler_title">
						  <strong>Pasivas - Kosei</strong></div>
						  <div class="spoiler_content" align="center">
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Pasivas&amp;aldea=general">Técnicas Pasivas</a><br>  
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Senjutsu&amp;aldea=general">Senjutsu (Modo Sabio)</a><br>  
					     	<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Juinjutsu&amp;aldea=general">Juinjutsu (Sello Maldito) </a><br>  
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Pseudo Jinchuuriki&amp;aldea=general">Pseudo Jinchuuriki</a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Jashin&amp;aldea=general">Jashin (Inmortal)</a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Jiongu&amp;aldea=general">Jiongu (Hilos Negros)</a><br>
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tensai&amp;aldea=general">Tensai (Genio) </a><br>  
						    <a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Yobidashi&amp;aldea=general">Yobidashi (Invocador) </a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Kazoku&amp;aldea=general">Kazoku (Gemelo)</a><br>  
							<a href="{$mybb->settings['bburl']}/sg/tecnicas_show.php?tipo=Tokubetsu&amp;aldea=general">Tokubetsu (Especialista)</a><br> 
						</div>
					  </div>
					  
					<br>
				       </div>	
				</div>				
			</td>
		</tr>
	</table>
	
{$footer}
</body>
</html>

<style></style>