<html>

<head>
    <style>


    </style>
    <title>Consola Súper Secreta</title>
    {$headerinclude}
</head>

<body>
    {$header}
    <div class="fondo-blanco">
	<h2>Objetos</h2>
    <ul>
		<li><a href="/sg/admin/crear_objetos.php">Crear objetos únicos</a></li>
        <li><a href="/sg/admin/modificar_objetos.php">Modificar objetos</a></li>
        <li><a href="/sg/admin/ficha_objetos.php">Modificar objetos de fichas</a></li>
		<li><a href="/sg/objetos.php">Página de todos los objetos</a></li>
		<li><a href="/sg/inventario.php">Ejemplo inventario objetos</a></li>
		<li><a href="/sg/tienda.php">Diseño de tienda</a></li>
    </ul>	
	<h2>Técnicas</h2>
    <ul>
		<li><a href="/sg/admin/crear_tecnicas.php">Crear técnicas únicas</a></li>
        <li><a href="/sg/admin/modificar_tecnicas.php">Modificar técnicas</a></li>
        <li><a href="/sg/admin/ficha_tecnicas.php">Modificar técnicas de fichas</a></li>
		<li><a href="/sg/admin/ficha_para_aprender.php">Modificar técnicas para sección de entrenamiento</a></li>
		<li><a href="/sg/admin/tecnicas_creacion.php">Moderar creación de técnicas</a></li>
    </ul>
	<h2>Usuarios</h2>
	<ul>
        <li><a href="/sg/admin/ficha_atributos.php">Modificar atributos de ficha</a></li>
		<li><a href="/sg/admin/modificar_ficha.php">Modificar ficha</a></li>
    </ul>	
	<h2>NPCs</h2>
    <ul>
		<li><a href="/sg/admin/npcs_crear.php">Crear NPCs</a></li>
        <li><a href="/sg/admin/npcs_modificar.php">Modificar NPCs</a></li>
    </ul>
    <h2>Herramientas</h2>
    <ul>
        <li><a href="/sg/admin/fichas_en_cola.php">Fichas en cola</a></li>
		<li><a href="/sg/admin/peticiones_admin.php">Peticiones Administrativas</a></li>
		<li><a href="/sg/admin/sabiasque_modificar.php">Modificar Sabías Qué</a></li>
    </ul>
	<h2>Logs</h2>
    <ul>
		<li><a href="/sg/admin/log_tecnicas_mod.php">Log de técnicas asignadas a fichas</a></li>
		<li><a href="/sg/admin/log_consola_mod.php">Log de cambios de consola</a></li>
    </ul>
    </div>
    {$footer}
</body>

</html>