<section id="section6-staff">
    <section class="foro_hermano">
        <div>Foro Hermano</div>
        <div></div>
    </section>

    <section class="alianzas">
        <section>
            <div>Grandes Alianzas Shinobis</div>

            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>

        <section>
            <div>Alianzas Shinobis</div>

            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
    </section>

    <style>
        #section6-staff{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            .foro_hermano{
                width: 25%;
                display: flex;
                flex-direction: column;

                > :first-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    margin-bottom: 10px;
                    background-color: #0e1a28;
                    font-size: 27px;
                    font-family: 'InterRegular';
                    color: white;
                    text-shadow: 2px 2px 1px black;
                    box-sizing: border-box;
                    border: 3px solid #0e2034;
                }

                > :last-child{
                    height: 100%;
                    background-color: #0e1a28;
                    box-sizing: border-box;
                    border: 3px solid #0e2034;
                    background: url(https://cdn.discordapp.com/attachments/884606837943582784/1215483465366110278/AfiliadodeSG.png?ex=65fcea30&is=65ea7530&hm=ffd235d69ca52f679445e5087cedef5a3f0253ca2197d309af01e689ca142c56&);
                    background-size: contain;
                    background-repeat: round;
                }
            }

            .alianzas{
                width: 74%;
                display: flex;
                flex-direction: column;

                > :first-child{
                    
                    > :first-child{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        background-color: #0e1a28;
                        font-size: 27px;
                        font-family: 'InterRegular';
                        color: white;
                        text-shadow: 2px 2px 1px black;
                        box-sizing: border-box;
                        border: 3px solid #0e2034;
                    }

                    > :last-child{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        div{
                            width: 16%;
                            height: 170px;
                            background-color: #0e1a28;
                            box-sizing: border-box;
                            border: 3px solid #0e2034;
                        }
                    }
                }

                > :last-child{
                    > div{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-top: 10px;

                        div{
                            width: 55px;
                            height: 55px;
                            background-color: #0e1a28;
                            box-sizing: border-box;
                            border: 3px solid #0e2034;
                        }
                    }

                    > :first-child{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #0e1a28;
                        font-size: 27px;
                        font-family: 'InterRegular';
                        color: white;
                        text-shadow: 2px 2px 1px black;
                        box-sizing: border-box;
                        border: 3px solid #0e2034;
                    }
                }
            }
        }
    </style>
</section>