<html>
<head>
<title>{$thread['subject']}</title>
{$headerinclude}
{$can_link}
<script type="text/javascript">
<!--
	var quickdelete_confirm = "{$lang->quickdelete_confirm}";
	var quickrestore_confirm = "{$lang->quickrestore_confirm}";
	var allowEditReason = "{$mybb->settings['alloweditreason']}";
	lang.save_changes = "{$lang->save_changes}";
	lang.cancel_edit = "{$lang->cancel_edit}";
	lang.quick_edit_update_error = "{$lang->quick_edit_update_error}";
	lang.quick_reply_post_error = "{$lang->quick_reply_post_error}";
	lang.quick_delete_error = "{$lang->quick_delete_error}";
	lang.quick_delete_success = "{$lang->quick_delete_success}";
	lang.quick_delete_thread_success = "{$lang->quick_delete_thread_success}";
	lang.quick_restore_error = "{$lang->quick_restore_error}";
	lang.quick_restore_success = "{$lang->quick_restore_success}";
	lang.editreason = "{$lang->postbit_editreason}";
	lang.post_deleted_error = "{$lang->post_deleted_error}";
	lang.softdelete_thread = "{$lang->soft_delete_thread}";
	lang.restore_thread = "{$lang->restore_thread}";
// -->
</script>
<!-- jeditable (jquery) -->
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/report.js?ver=1820"></script>
<script src="{$mybb->asset_url}/jscripts/jeditable/jeditable.min.js"></script>
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/thread.js?ver=1827"></script>
</head>
<body>
	{$codebutquickedt}
	{$header}
	{$threadnotesbox}
	{$pollbox}
<!--Paginación-->
<div class="thread_Controls">
{$multipage}
<div class="right_controls">
	<!-- -->
	<button onclick="toggleModoLectura()" type="button" style="
    height: 100%; background-color:#292D32; font-weight:800;">Modo Lectura
		</button>
<button style="background-color:#858B8F;">
	<a href="/newreply.php?tid={$tid}" style="display:block; color:white; font-weight:800;"><span>{$lang->new_reply}</span></a>
</button>
	</div>
</div>
<!-- Inicio de Contenedor de Post -->
<div class="post_container">
    <div class="thread_title">
        <strong>{$thread['subject']}</strong>
    </div>
    <div id="dynamic_container" class="posts_container">
		<div class="dynamic_place"></div>
        <div class="posts">
            {$posts}
        </div>
		<style>
			#dynamic_container{
				display: flex;
				
				.dynamic_place{
					flex: 2;
					
					img{
						width: 100%;
						margin-top: 10px;
						border-radius: 10px;
					}
					
					ul{
						color: black;
						background-color: lightgrey;
						padding: 10px;
						border-radius: 10px;
						margin-top: 10px;
						margin-bottom: 10px;
						list-style-type: disc;
						
						li{
							padding-left: 20px;
						}
						
						a{
							font-weight: bold;
						}
					}
				}
				
				.posts{
					flex: 1;
				}
			}
		</style>
		<script type="module">
			(() => {
				let dynamic_place = document.querySelector('#dynamic_container .dynamic_place')
				let primer_post = document.querySelector('#post_21557')
				let content = primer_post.querySelector('.post_body_content').textContent
				
				content = '{"img": "/images/sg/tests/academia.jpg", "links": [{"url": "#", "content": "Salir a la calle"},{"url": "#", "content": "Preguntar en secretaría"},{"url": "#", "content": "Ir al aula 201"},{"url": "#", "content": "Ir al baño"}]}'
				
				content = JSON.parse(content)
				
				let img = document.createElement("img")
				img.src = content.img
				
				let ul = document.createElement("ul");
				ul.textContent = "Lugares a donde ir..."
				for(let e of content.links){
					let li = document.createElement('li');
					let a = document.createElement('a');
					a.href = e.url
					a.textContent = e.content
					li.appendChild(a)
					ul.appendChild(li)
				}
				
				dynamic_place.appendChild(img);
				dynamic_place.appendChild(ul);
				
				primer_post.parentNode.removeChild(primer_post)
			})()
		</script>
    </div>
    <!-- 
<div class="footer">
        <strong>&laquo; <a href="{$next_oldest_link}">{$lang->next_oldest}</a> | <a href="{$next_newest_link}">{$lang->next_newest}</a> &raquo;</strong>
    </div>
-->
</div>
<div class="thread_bottom_controls">
<div class="bottom_controls">
{$multipage}
<div class="right_controls">
	<button onclick="toggleModoLectura()" type="button" style="
    height: 100%; background-color:#292D32; font-weight:800;">Modo Lectura
		</button>
<button style="background-color:#858B8F;">
	<a href="newreply.php?tid={$tid}" style="display:block; color:white; font-weight:800;"><span>{$lang->new_reply}</span></a>
</button>
	</div>
</div>

<div class="float_right" style="display: flex; flex-direction: column; align-items: center;">	
		<div style="display:flex; flex-direction:row; justify-content:space-between; width:100%">
			{$moderationoptions}
			{$forumjump}
		</div>
	{$usersbrowsing}
</div>

</div>
	<br class="clear" />
	<a name="switch" id="switch"></a><!-- {quickreply} -->
	{$threadexbox}
	{$similarthreads}
	<br />
	<br class="clear" />
	{$footer}
	<script type="text/javascript">
		
		// let modoLectura = false;
		let modoLectura = localStorage.getItem("modoLectura");
		
		if (modoLectura != 'true') {
			$('.avatar_izquierda').css('display', 'block');
			$('.usuario-derecha').css('display', 'none');
			$('.post_content').css('width', '68%');
			$('.post_body').css('font-size', '15px');
		} else {
			$('.avatar_izquierda').css('display', 'none');
			$('.usuario-derecha').css('display', 'block');
			$('.post_content').css('width', '97%');
			$('.post_body').css('font-size', '19px');
		}
		
		const toggleModoLectura = () => {
			if (modoLectura == 'true') {
				$('.avatar_izquierda').css('display', 'block');
				$('.usuario-derecha').css('display', 'none');
				$('.post_content').css('width', '68%');
				$('.post_body').css('font-size', '15px');
				localStorage.setItem("modoLectura", 'false');
				modoLectura = 'false';
			} else {
				$('.avatar_izquierda').css('display', 'none');
				$('.usuario-derecha').css('display', 'block');
				$('.post_content').css('width', '97%');
				$('.post_body').css('font-size', '19px');
				localStorage.setItem("modoLectura", 'true');
				modoLectura = 'true';
			}
		};
		
		var thread_deleted = "{$thread_deleted}";
		if(thread_deleted == "1")
		{
			$("#quick_reply_form, .new_reply_button, .thread_tools, .inline_rating").hide();
			$("#moderator_options_selector option.option_mirage").attr("disabled","disabled");
		}
	</script>
</body>
</html>