<!-- <script type="text/javascript">
$(document).ready(function() {
	sc_asd = JSON.parse(localStorage.getItem('sc_as'));
	if (!sc_asd) {
		sc_asd = {};
	}
	var titlangas = "{$lang->quickadveditorplus_page_title}";
	if(Object.keys(sc_asd).length) {
		var titlangas = "<strong>" + titlangas + " (" + Object.keys(sc_asd).length + ")" + "</strong>";
	}
	$('#itenum').html(titlangas);
});
</script>
<tbody>
<tr>
	<td class="tcat tcat_menu tcat_collapse{$collapsedimg['qaedraftlist']}">
		<div class="expcolimage"><img src="{$theme['imgdir']}/collapse{$collapsedimg['qaedraftlist']}.png" id="qaedraftlist_img" class="expander" alt="[-]" title="[-]" /></div>
		<div><span class="smalltext"><strong>{$lang->quickadveditorplus_page_title}</strong></span></div>
	</td>
</tr>
</tbody>
<tbody style="{$collapsed['qaedraftlist_e']}" id="qaedraftlist_e">
	<tr><td class="trow1 smalltext"><a href="usercp.php?action=qae_autosave" class="usercp_nav_item usercp_nav_drafts" id="itenum"></a></td></tr>


</tbody>
-->