&nbsp;<div id="accountswitcher_header"><a>{$mybb->user['username']} &dtrif;</a>
                <div id="accountswitcher_header_popup">
                    <ul class="trow1">
                        {$as_header_dropdown}
                    </ul>
                </div>
            </div>
            <script>
                <!--
                    $("#accountswitcher_header").on("mouseenter", function(e) {
                        $("#accountswitcher_header_popup").show();
                        e.stopPropagation();
                    });
                    $("#accountswitcher_header_popup").on("mouseleave", function(e) {
                        e.stopPropagation();
                    });
                    $(document).on("click", function() {
                        $("#accountswitcher_header_popup").hide();
                    });
                -->
            </script>