<span class="smalltext fw4">
	<span class="float_left">Total Threads:</span>	<span class="float_right">{$stats['numthreads']}</span> <br />
	<span class="float_left">Total Posts:</span>  <span class="float_right">{$stats['numposts']}</span> <br />
	<span class="float_left">Members:</span>  <span class="float_right">{$stats['numusers']}</span> <br />
	<span class="float_left">Most Online:</span>  <span class="float_right">{$mostonline['numusers']}</span> <br />
	<span class="float_left">Newest Member:</span>  <span class="float_right">{$newestmember}</span> 
</span>