					<tr>
						<td class="{$boffline_alt}" width="1%">
							<div class="buddy_avatar float_left"><img src="{$buddy['avatar']['image']}" class="fxdim44" alt="" {$buddy['avatar']['width_height']} style="margin-top: 3px; margin-bottom: 2px; border-radius: 100% !important;" /></div>
						</td>
						<td class="{$boffline_alt}">
							{$profile_link}
							{$send_pm}
							<div class="buddy_action">
								<span class="smalltext">{$last_active}</span>
							</div>
						</td>
					</tr>