<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->poll_results}</title>
{$headerinclude}
</head>
<body>
{$header}
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder tfixed">
<colgroup>
<col style="width: 28%;" />
<col style="width: 50%" />
<col style="width: 22%" />
</colgroup>
<tr>
<td class="thead" colspan="4" style="text-align: center;"><strong>{$poll['question']}</strong></td>
</tr>
{$polloptions}
<tr>
<td class="tfoot" style="text-align: right; padding-right: 20px;" colspan="4">{$poll['numvotes']} {$lang->poll_votes}</td>
</tr>
</table>
{$footer}
</body>
</html>