<div class="delete_button">
<a href="editpost.php?pid={$post['pid']}" onclick="Thread.deletePost({$post['pid']}); return false;" style="display: none;" id="quick_delete_{$post['pid']}" title="{$postbit_qdelete}" class="postbit_qdelete postbit_mirage"><span style=" font-size: 16px; height: 22px; "><i class="fa-solid fa-trash"></i></i>&nbsp;  {$lang->postbit_button_qdelete}</span></a>	
</div>

<script type="text/javascript">
// <!--
	$('#quick_delete_{$post['pid']}').css('display', '{$display}');
// -->
</script>