<html>
<head>
<title>Shinobi Gaiden</title>
{$headerinclude}
</head>
<body>
{$header}
	<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
		<tbody>
		<tr>
			<td class="thead"><span class="smalltext"><strong>Shinobi Gaiden</strong></span></td>
		</tr>
		<tr>
			<td class="trow1">¡La ficha ha sido enviada! La estaremos revisando y tan pronto podamos, la aceptaremos.</td>
		</tr>
		<tr>
			<td class="trow2" align="right"><a href="{$mybb->settings['bburl']}/index.php"><span class="smalltext">Haz clic aquí para volver al índice.</span></a></td>
		</tr>
		</tbody>
	</table>
</tbody>
	
{$footer}
</body>
</html>