<section id="section4-offrol">
    <img src="https://i.ibb.co/Cwvw4Rp/Zona-Off-Rol.png" alt="Seccion Off-Rol">
    <div id="forumSection4">
        <a href="forumdisplay.php?fid=52">
            <img src="/images/sg/subforos/offrol.png" alt="Off-Rol y Sugerencias">
        </a>
        <a href="forumdisplay.php?fid=53">
            <img src="https://i.ibb.co/bHc83Mw/Afiliaciones.png" alt="Afiliaciones">
        </a>
    </div>

    <style>
        #section4-offrol{
            margin-top: 10px;

            img{
                width: 100%;
            }

            #forumSection4{
                margin-top: 10px;
                display: flex;
                flex-flow: row wrap;
                gap: 10px;
                justify-content: space-between;

                a{
                    width: 49%;
                }

                @media (width < 576px){
                    a{
                        width: 100%;
                    }
                }
            }
        }
    </style>
</section>